html{
	scroll-behavior: smooth;
}
nav .navbar-nav .nav-item .nav-link{
	padding: 10px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
ul{
	list-style: none;
	margin: 0;
}
body{
	cursor: crosshair;
}
a{
	text-decoration: none!important;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
	background: #32d3ed; 
}



#menu2{
	display: none;
}
#pretty-bg{
	position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    z-index: -99;
}
.menu-section{
	position: absolute;
	content: "";
	right: 0;
	z-index: 9999;
	text-decoration: none;
	background: #fff !important;
}
.header{	
	z-index: 9;
	position: absolute;
	width: 100%;
	padding: 15px !important;
}
.navbar-nav li a{
	color: #32d3ed !important;
	font-size: 18px !important;
	font-weight: 700;
	font-family: 'Josefin Sans', sans-serif;
}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	animation: fixedd 1s 1 alternate;
	color: #32d3ed;
	background-color: #000;
	z-index: 999999;
}
@keyframes fixedd{
	from{
		transform: translateY(-40px);
	}
}
.logo{
	color: #32d3ed;
	font-size: 30px!important;
	letter-spacing: 4px;
}
.logo:hover{
	color: #32d3ed;
}
.btn.focus, .btn:focus {
	outline: 0;
	box-shadow:none !important;
}
.home_page{
	position: relative;
	background-image: url(../image/img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	padding: 165px 0;
}
.home_page{
	position: relative;
}
.home_page:before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 9;
}
#particles-js{
	width: 100%;
	position: absolute;
	height: 100%;
	top: -35%;
	right: 0;
	left: 0;
	bottom:0;
	z-index: 1;
}
.home_page_text h1{
	font-size: calc(3vw + 1rem);
	padding-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
	position: relative;
	z-index: 9;
	color: #32d3ed;
}
.home_page_text h2{
	font-size: 38px;
	position: relative;
	z-index: 9;	
	font-family: 'Josefin Sans', sans-serif;
}
.home_page_text h3 span b{
	color: #fff;
	font-size: calc(2vw + 1rem);
	padding: 0;
	z-index: 9;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
}
.box-scroll{
	position: absolute;
	width: 15px;
	height: 25px;
	background: transparent;
	border:2px solid #fff;
	border-radius: 3px;
	left: 50%;
	right: 50%;
	top: 95%;
	bottom: 5%;
	z-index: 9999;
	transform: translate(0px , -50px);
}
.arrow{
	position: relative;
}
.arrow{
	position: absolute;
	content: "";
	width: 2px;
	height: 5px;
	background: #fff;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
	transform: translate(-50% , -50%);
	animation-name: slider;
	animation-duration: 0.9s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes slider{
	from{
		margin-bottom: -3px;
	}
	to{
		margin-top: 3px;
	}
}











.about_me{
	padding: 100px 0;
}

.my_img{
	position: relative;
	padding: 0 !important;
}
.my-img img{
	z-index: 9;
}
.my_img:hover:after{
	visibility: hidden;
	opacity: 0;
}
.my_img:after{
	position: absolute;
	content: "";
	background: url(../image/pattern.png);
	width: 100%;
	height: 100%;
	left: 5%;
	top: 4%;
	z-index: 1;
	transition: all 0.5s ease 0s;
}
.my_img:before{
	position: absolute;
	content: '';
	border:8px solid #32d3ed;
	width: 100%;
	height: 100%;
	top:7%;
	left:10%;
}
.title_line h3{
	font-size: calc(1.5vw + 1rem);
	color: #2A2A2A;
}
.title-bg{
	position: relative;	
}
.title-bg:before{
	position: absolute;
	content: '';
	background-image: url(../image/pattern.png);
	width: 50%;
	height: 100%;
	z-index: -1;
	top: -2%;
	left: -2%;
	z-index: 1;
}
.title_line{
	position: relative;
}
.title_line:after{
	position: absolute;
	content: "";
	width: 210px;
	height: 3px;
	background:#32d3ed;
	top: 104%;
}
.title_line:before{
	position: absolute;
	content: "";
	width: 180px;
	height: 3px;
	background:#32d3ed;
	top: 91%;
}
.about_me_text{
	padding-left: 50px;
}
.about_me_text_p{
	padding-top: 3rem;
	margin-left: 3rem;
}
.about_me_text_p span{
	font-size: calc(0.625vw + 0.875rem);
	color: #aba5a5;
}
.about_me_text_p div{
	font-size: calc(0.625vw + 0.875rem);
	color: #aba5a5;
	margin-top: 2rem;
	line-height: 25px;
}
.first-btn, .second-btn{
	color: #fff;
	font-size: 14px;
	background: #32d3ed;
	padding: 12px 25px;
	border-radius: 50px;
	transition: all 0.5s ease 0s;
	z-index: 999;
}
.first-btn:hover{
	color: #000 !important;
	background: #fff;
}
.second-btn{ 
	background-color: #fff;
	color: #000;
	border: 1px solid #c5c5c5;
}
.second-btn:hover{
	color: #fff;
	background: #32d3ed;
	border: none;
}









.my_skill_sec{
	padding: 100px 0;
}
.my_skill{
	position: relative;
	z-index: 1;
}
.my_skill {
	color: #000;
	font-size: 36px;
	font-weight: 700;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px 20px; 
}
.my_skill:before{
	position: absolute;
	content: "";
	background-image: url(../image/title-bg.png);
	width: 70%;
	height: 100%;
	z-index: -1;
	left: -1%;
	top: -5%;
	opacity: 0.7;
}
.pg-color{
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}
.pg-color-1{
    color: #FCE4E4;
}
.pg-color-2{
    color: #FCE4E4 !important;
}
.pg-color-1-1{
    color: #2A2A2A !important;
}
.pg-color-1-2{
    color: #2A2A2A!important;
}





.my_services_sec{
	padding: 100px 0;
	background-image: url(../image/back-img.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.my_services_text h3{
	color: #000;
	font-size: calc(2vw + 1.8rem);
	font-weight: 700;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px 20px; 
	text-transform: uppercase;
	position: relative;
}
.my_services_text h3:before{
	position: absolute;
	content: '';
	background-image: url(../image/title-bg.png); 
	width: 70%;
	height: 100%;
	top: -2%;
	left: -1%;
	z-index: -1;
}
.first-part{
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	margin-top: 30px;
	transition: all 0.5s ease 0s;
}
.first-part i{
	color: #32d3ed;
	font-size: 50px;
	padding: 20px 0;
}
.first-part h3{
	color: #2A2A2A;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}
.first-part span{
	color: #827c7c;
	padding: 10px 20px;
	display: inline-block;
}
.first-part:hover{
	box-shadow: 0 0 18px 2px #e8e8e8;
	border: 0;
	transform: translateY(-30px);
}







.gallery-title h3{
   color: #000;
	font-size: calc(2vw + 1.8rem);
	font-weight: 700;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px 20px; 
	text-transform: uppercase;
	position: relative;
}
.gallery-title h3:after{
	position: absolute;
	content: '';
	background-image: url(../image/title-bg.png);
	width: 60%;
	height: 100%;
	top: -2%;
	left: -1%;
	z-index: -1;
}
.filter-button{
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700 !important;
    text-align: center;
    color: #000;
    margin-bottom: 30px;

}
.btn-default:active .filter-button:active{
    background-color: #42B32F;
    color: white;
}
.gallery_product img{
    margin-bottom: 30px;
    border-radius: 10px;
}







.my-experince-sec{
	padding: 60px 0;
		background-image: url(../image/back-img.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.experince-heading h3{
	font-size: calc(1.5vw + 1.8rem); 
	font-family: 'Josefin Sans', sans-serif;
	color: #111;
	font-weight: 700;
	position: relative;
}
.experince-heading h3:before{
	position: absolute;
	content: '';
	background-image: url(../image/title-bg.png);
	width: 40%;
	height: 50%;
	top: 50%;
	left:28%;
	z-index: -1;
	opacity: 1;
}
.exper-main-sec{
	margin-top: 70px;
}
.exper-img img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.exper-text{
	margin-left: 80px;
	padding-top: 30px;
	padding-left: 50px;
	position: relative;
	border-left: 1px solid #cccc;
}
.exper-text:before{
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid #32d3ed;
	padding: 3px;
	background-color: #000;
	left: -1%;
	right: 99%;
	top: 50%;
}
.exper-text h3{
	color: #111;
	font-size: 26px;
	font-family: 'Josefin Sans', sans-serif;
}
.exper-text p{
	color: #8a8a8a;
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
}







.slider-section{
	padding: 100px 0px;
}
.slider-section-heading h3{
	color: #000;
}
.slider-section .item{
	padding: 0 60px;
}
.slider-sec-img{
	width: 150px;
	height: 150px;
	margin-bottom: -35px !important;
	background-color: #ccc;
	margin: 0 auto;
}
.slider-sec-text{
	border: 1px solid #000;
	transition: all 0.5s ease 0s;
}
.slider-sec-text h4{
	color: #32d3ed;
	margin-top: 60px;
	font-size: 20px;
	margin-bottom: 0;
	letter-spacing: 2px;
}
.slider-sec-text p{
	color: #605e5e;
	font-size: 16px;
	padding: 20px 30px;
	margin: 0;
	font-weight: 700;
	transition: all 0.5s ease 0s;
}
.slider-sec-text i{
	color: #8d8d8d;
    padding-bottom: 29px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.owl-dots button{
	display: none !important;
}
.owl-nav{
	margin-top: 60px !important;
}
.owl-nav .owl-prev{
	border: 0;
}
.owl-nav .owl-prev span{
	color: #000;
	font-size: 40px;
	line-height: 0px;
	background-color: #32d3ed;
	padding: 0 15px;
	border-radius: 7px;
	transition: all 0.5s ease 0s;
}
.owl-nav .owl-prev span:hover , .owl-nav .owl-next span:hover{
	background-color: #000;
	color: #32d3ed
}
.owl-nav .owl-next span{
	color: #000;
	font-size: 40px;
	line-height: 0px;
	background-color: #32d3ed;
	padding: 0 15px;
	border-radius: 7px;
	transition: all 0.5s ease 0s;
}
button:focus{
	outline: none;
}




.contact-section{
	padding: 50px 0;
}
.contact-section label{
	font-family: 'Josefin Sans', sans-serif;	
	color: #111;
	font-size: 16px;
	margin-bottom: 8px;
}
.contact-section input{
	margin-bottom: 25px;
	padding: 12px;
}
.form-control{
	height: calc(4.5em + .75rem + 2px);
}
.contact-btn button{
	background-color: #222222;
	padding: 14px 32px;
	margin-top: 20px; 
	border: 2px solid #32d3ed;
	color: #fff;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
}
.contact-btn button:hover{
	color: #fff;
}





.footer{
	background-color: #333;
	padding: 50px 0;
}
.footer .owl-nav .owl-prev span{
	display: none;
}
.footer .owl-nav .owl-next span{
	display: none;
}
.footer-hover{
	position: relative;
}
.footer-hover:after{
	position: absolute;
	content: '';
	background-color: rgba(0,0,0,.5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease 0s;
}
.footer-hover:hover:after{
	visibility: visible;
	opacity: 1;
}
.overlay{
	position: absolute;
	display: inline-block;
	z-index: 9;
	top: 45%;
	left: 23%;
	right: 70%;
	transition: all 0.5s ease 0s;
}
.overlay ul{
	display: flex;
}
.overlay ul li a i{
	color: #fff;
	font-size: 40px;
	opacity:0;
	transition: all 0.8s ease 0s;
	visibility: hidden;
	margin: 0 5px;
}
.overlay .fa-facebook{
	padding: 9px 20px !important;
}
.footer-hover:hover .overlay i{
	opacity: 1;
	visibility: visible;
	transform: rotate(360deg);
	color: #32d3ed;
	background-color: #000;
	padding: 10px;
	border-radius: 10px;
}
.footer-text-1{
	border-right: 2px solid #ccc;
	margin-top: -40px;
	display: block;
}
.footer-text-2{
	border-left: 2px solid #ccc;
}
.footer-text-1 h4 , .footer-text-2 h4{
	color: #fff;
	font-size: 20px; 
	font-family: 'Josefin Sans', sans-serif;
}
























@media(max-width:991px){
	header{
		background: #000;
	}
	nav .navbar-nav .nav-item .nav-link
	{
		padding: 25px 20px;
	}
	.navbar-nav{
		text-align: center;
	}
	.navbar-nav li a{
		padding: 45px 0 !important;
		text-transform: uppercase;
		font-size: 18px !important;
	}
	.navbar-nav li a:hover{
		color: #000;
	}
	.my_img:before{
		position: absolute;
		content: '';
		border: 8px solid #32d3ed;
		width: 80%;
		height: 50%;
		bottom:;
		top:5%;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	.my_img:after{
		display: none;
	}
	.my_img{
		padding: 15px !important;
	}
	.pg-color-2{
        color: #2A2A2A !important;
    }
	.pg-color-1-1{
        color: #FCE4E4 !important;
    }
    .pg-color-1-2{
       color: #2A2A2A!important;
    }
    .border-before:before{
    	display: none;
    }
    .alx-canvas{
    	display: none;
    }
    .exper-text:before{
		left: -3%;
	}
}
@media(max-width: 768px){
	.about_me_text_p{
		padding-top: 2rem;
		margin: 0;
	}
	.about_me_text_p div{
		margin-top: 2rem;
	}
	.my_img:before{
		position: absolute;
		content: '';
		border: 8px solid #32d3ed;
		width: 80%;
		height: 80%;
		bottom:;
		top:8%;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	.exper-main-sec{
		display: block !important;
	}
    .slider-section .item{
		padding: 0 15px!important;
	}
	.exper-text:before{
		left: -2%;
	}
}
@media(max-width: 576px){
	.about_me_text{
		padding:0 15px !important;
	}
	.slider-item{
		padding: 0 25px !important;
	}
	.exper-text{
		margin-left: 20px;
	}
	.exper-text:before{
		left: -3%;
	}
}
@media(max-width:320px)
{
	.home_page{
		padding: 100px 0;
	}
}